# dependencies
node_modules
client/node_modules
server/node_modules

# build outputs
client/dist
server/exports

# local env
.env

# runtime data
server/sessions.json
server/user_sessions.json
server/users.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*